.LoginEventCard {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 400px;
  box-shadow: 0 0 5px var(--mid-bg);
  background-color: var(--dark-bg);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.userInfo {
  background-color: var(--mid-bg);
  color: var(--dark-text);
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px 25px 1fr;
  grid-template-areas:
    "username usernameBanned"
    "ip ipBanned"
    "extraContainer extraContainer";
}

.actionButtons {
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
}

.username {
  grid-area: username;
}

.usernameBanned {
  grid-area: usernameBanned;
}

.ip {
  grid-area: ip;
}

.ipBanned {
  grid-area: ipBanned;
}

.extraContainer {
  grid-area: extraContainer;
}

.toggleDiv {
  display: flex;
  justify-content: space-between;
}

.hideDetails {
  display: none;
}

.timestamp {
  text-align: right;
  font-size: small;
  color: var(--light-text);
  padding-right: 3px;
}

p {
  margin: 0;
  padding: 0;
}